<div id="categories">
    
</div>
    
<script language='javascript'>
    $(document).ready(function () {
        $.ajax({
            url: "/Home/GetCategory",
            type: "GET",
            dataType: "json",
            success: function(data) {
                RenderCategories(data);
            }
        });
    });

    function RenderCategories(data) {
        for (key in data) {
            $("#categories").append('<img src="' + '/Content/' + data[key].Image.Path + '"' + '/>');
            $("#categories").append('<p>'  + data[key].Name  + '</p>');
            $("#categories").append('<p>'  + data[key].Description + '</p>');
        }
    }
        
</script>