<div style="text-align : center; display:block; padding-top: 10%">
    <img src="~/Content/images/underconstr.png" />
    <div style="display: inline-block; text-align: left; padding-top: 30px;">
        <h3>Контакты:</h3>
        <h2>МКАД 25-й км. внешняя сторона, ТК Конструктор. Линия В пав 2.21</h2>
        <h2>Телефон: +7(916)345-50-78, E-mail: <a href="mailto:shop@greenel.net">shop@greenel.net</a> </h2>
    </div>
</div>