
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>art-lampa</title>
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/reset.css">
</head>
<body>
    @RenderBody()
</body>

</html>